@model Product

<h3>@Model.productName</h3>
<p>@Model.price</p>
<div>
    <a class="btn btn-warning" asp-action="Index" asp-controller="Home"> Home</a>
    <a class="btn btn-outline-warning" asp-action="Index" asp-controller="Product"> Products</a>
</div>
